In [1]:
import pandas as pd
df1=pd.read_csv('Prediction.csv')
df1.head()

,Unnamed: 0,Age,Salary,Designation,Department,Key_skills,Exp_in_years
0,0,25,71494,Product Operations Analyst.Associate.,IT Product Management & Ops,team skills communication skills analytical sk...,0.58
1,1,26,39971,Platform Operations Engineer.Associate.,Platform Operations,ppc logistics inventory management supply chai...,0.50
2,2,24,77705,Platform Operations Engineer.Associate.,Platform Operations,hr analytics employee engagement training succ...,0.67
3,3,26,40164,Platform Operations Engineer.Associate.,Platform Operations,sql javascript automation python ruby analytic...,0.50
4,4,29,143963,Software Engineer.Senior.,Enterprise Access Engineering,accounting finance cash flow financial plannin...,2.08

In [2]:
df1.rename(columns={'Unnamed: 0':'del'},inplace=True)

In [3]:
df1.drop(columns=['del'],inplace=True)

In [4]:
df1.shape

(14416, 6)

In [8]:
df1.dtypes

Age               int64
Salary            int64
Designation      object
Department       object
Key_skills       object
Exp_in_years    float64
dtype: object

In [14]:
df1.isnull().sum()

Age             0
Salary          0
Designation     0
Department      0
Key_skills      0
Exp_in_years    0
dtype: int64

In [13]:
df1.Key_skills=df1.Key_skills.fillna('')

## Using Label Encoder to change categorical features into numerical form

In [5]:
from sklearn.preprocessing import LabelEncoder

In [15]:
l=LabelEncoder()
label=l.fit_transform(df1["Designation"])
label1=l.fit_transform(df1["Department"])
label2=l.fit_transform(df1["Key_skills"])

In [16]:
df1['Designation']=label
df1['Department']=label1
df1['Key_skills']=label2

In [17]:
df1.head()

   Age  Salary  Designation  Department  Key_skills  Exp_in_years
0   25   71494          244          72        1619          0.58
1   26   39971          231         117        1087          0.50
2   24   77705          231         117         694          0.67
3   26   40164          231         117        1542          0.50
4   29  143963          316          41          25          2.08

In [18]:
x=df1.drop('Salary',axis='columns')
y=df1.Salary

In [19]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

model_params = {
    'Decision_tree': {
        'model': tree.DecisionTreeClassifier(),
        'params' : {
            'criterion' :['gini', 'entropy'],
            'splitter' :['best', 'random']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [20]:
from sklearn.model_selection import GridSearchCV

In [ ]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(x,y)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

### Using One Hot Encoder to change categorical features into numerical form

In [11]:
dummy=pd.get_dummies(df1.Designation)
dummy.head()

,Account Service Manager..,Account Service Manager.Associate.,Accountant II..,Accountant.Senior Lead.,Accountant.Senior.,Accounts Receivable Specialist.Senior.,Applications Developer II..,Applications Developer.Senior Lead.,Applications Developer.Senior.,Architect..,...,User Interface Engineer..,User Interface Engineer.Senior II.,User Interface Engineer.Senior.,Vice President & Managing Director India..,Vice President..Platform Delivery,Web Content Publisher..,Web Content Publisher.Senior.,Web Developer II..,Web Developer.Senior Lead.,Web Developer.Senior.
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
dummy1=pd.get_dummies(df1.Department)
dummy1.head()
#dummy1.to_csv('abc.csv')

,APJ - AMG,APJ Channel Pre-Sales,APJ EM - SA/IN,APJ Enterprise Pre-Sales,APJ Enterprise Sales,APJ PS - SA/IN,APJ Sales Development,APJ Security Management,APJ Security Sales,APJ Security Services,...,Web Americas Services Management,Web Developer Relations,Web Division Finance,Web Division Sales Ops,Web Global Channel Marketing,Web Global Industry & Product Marketing,Web Performance Engineering,Web Shared Engineering - Performance,Web Strategy,Wizards Program
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
dummy2=pd.get_dummies(df1.Key_skills)
dummy2.head()

,""" ; data analysis"" advance analytics logistics regression",""" ; deep learning"" ; neural networks machine learning",""" ; highway"" "" ; quantity surveyor"" ; quantity surveying",""" ; jquery"" ;",1d simulation engine cooling system gt - suite gt - cool dymola kuli,abap business process outsourcing operations export import,abap xslt webmethods nwdi udf performance monitoring business analyst,academic research creative writing mba fresher mba marketing,academics effective communication teacher training academic trainer,accent process compliance quality standards customer experience,...,windows server server security mobile applications web technologies,writing skills content writing content development communication skills,xml hibernate core java jquery xslt mvc analytics healthcare jira,xml html epub css / xslt team leader,xml html web services agile json css3 front end version control git,xml outsourcing analytical operations enterprise development j2ee,xml perl networking python lan open source wan mpls ospf analytics,xml technical support lte tools project delivery,xml troubleshooting json maven business process outsourcing git,zend php mysql analytical skills laravel api laravel framework
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
new_df=pd.concat([df1,dummy],axis='columns')
new_df1=pd.concat([new_df,dummy1],axis='columns')
new_df2=pd.concat([new_df1,dummy2],axis='columns')

In [15]:
final_df=new_df2.drop(columns=['Designation','Department','Key_skills'])
final_df.head()

,Age,Salary,Exp_in_years,Account Service Manager..,Account Service Manager.Associate.,Accountant II..,Accountant.Senior Lead.,Accountant.Senior.,Accounts Receivable Specialist.Senior.,Applications Developer II..,...,windows server server security mobile applications web technologies,writing skills content writing content development communication skills,xml hibernate core java jquery xslt mvc analytics healthcare jira,xml html epub css / xslt team leader,xml html web services agile json css3 front end version control git,xml outsourcing analytical operations enterprise development j2ee,xml perl networking python lan open source wan mpls ospf analytics,xml technical support lte tools project delivery,xml troubleshooting json maven business process outsourcing git,zend php mysql analytical skills laravel api laravel framework
0,25,71494,0.58,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,26,39971,0.50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,24,77705,0.67,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,26,40164,0.50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,29,143963,2.08,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Using ML Models To Predict the Salary

In [16]:
x=final_df.drop('Salary',axis='columns')
y=final_df.Salary

In [19]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

model_params = {
    'Decision_tree': {
        'model': tree.DecisionTreeClassifier(),
        'params' : {
            'criterion' :['gini', 'entropy'],
            'splitter' :['best', 'random']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [20]:
from sklearn.model_selection import GridSearchCV

In [22]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(x,y)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

                 model  best_score                                best_params
0        Decision_tree         1.0  {'criterion': 'gini', 'splitter': 'best'}
1        random_forest         1.0                        {'n_estimators': 5}
2  logistic_regression         1.0                                   {'C': 1}